/* CSS Document */
body {
	background-color: lightblue;
}

h1 {
    color: white;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
	background-color: antiquewhite;	
}

.ass {
    font-family: verdana;
    font-size: 20px;
	border: thick dotted;
	border-radius: 12px;
	background-color: antiquewhite;	
}

